<main>
  <div class="register-form">
    <h1>Sign Up</h1>
    @if (data) {
    <app-notifications
      msg="{{ data.msg }}"
      type="{{ data.success ? 'success' : 'warning' }}"
    />
    }
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" ngNativeValidate>
      <label for="username">Username:</label>
      <input type="text" formControlName="username" required />
      <label for="username">Email:</label>
      <input type="email" formControlName="email" required />
      <label for="password">Password:</label>
      <input
        type="password"
        formControlName="password"
        minlength="8"
        required
      />
      @if (!isLoading) {
      <button type="submit" class="btn btn-primary">Sign Up</button>
      } @else {
      <button class="btn btn-primary" disabled><app-loader /></button>
      }
    </form>
  </div>
</main>
