.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-content: center;
  padding: 100px 50px;
  background-color: rgb(245, 245, 245);
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature object {
  width: 55px;
  height: 55px;
}

.feature h2 {
  font-size: 30px;
}

.feature p {
  font-size: 16px;
  color: gray;
}

@media screen and (max-width: 708px) {
  .features {
    grid-template-columns: 1fr;
  }

  .features h2 {
    font-size: 20px;
  }
}
