<section id="features" class="features">
  <div class="feature">
    <object data="img/icons/lock.svg" type="image/svg+xml"></object>
    <h2>Secure Storage</h2>
    <p>
      KeySafe uses advanced encryption to protect your passwords and sensitive
      information, ensuring your data is always safe and secure.
    </p>
  </div>
  <div class="feature">
    <object data="img/icons/phone.svg" type="image/svg+xml"></object>
    <h2>Multi-Device Sync</h2>
    <p>
      Access your passwords and data from any device, seamlessly synced across
      all your devices for ultimate convenience.
    </p>
  </div>
  <div class="feature">
    <object data="img/icons/key.svg" type="image/svg+xml"></object>
    <h2>Easy Access</h2>
    <p>
      Quickly and securely access your passwords and information with a single
      click or biometric authentication.
    </p>
  </div>
  <div class="feature">
    <object data="img/icons/security.svg" type="image/svg+xml"></object>
    <h2>Trusted Security</h2>
    <p>
      KeySafe is built with industry-leading security standards to protect your
      data from unauthorized access and breaches.
    </p>
  </div>
</section>
