.menu {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  user-select: none;

  nav {
    padding: 20px;
    border-radius: 30px;
    background-color: #0a8537;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        list-style: none;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #e0e0e0;
          stroke: #e0e0e0;
          fill: #e0e0e0;
          transition: all 0.2s;

          &.active,
          &:hover {
            color: #f8f8f8;
            stroke: #f8f8f8;
            fill: #f8f8f8;
          }

          span {
            font-size: 12px;
          }

          app-icons {
            display: flex;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
